.mainWrapper {
    display: flex;
}

@media(max-width: 920px){
    .mainWrapper{
        display: block;
    }
}

.graphWrapper {
    width: 800px;
    height: 400px;
}

@media(max-width: 1720px){
    .graphWrapper{
        width: 700px;
    }
}

@media(max-width: 1380px){
    .graphWrapper{
        width: 600px;
    }
}

@media(max-width: 1050px){
    .graphWrapper{
        width: 480px;
    }
}

@media(max-width: 920px){
    .graphWrapper{
        width: 96%;
    }
}

.controllerWrapper {
    margin-left: 150px;
    margin-top: 150px;
}