.navbarWrapper {
    background-color: #aaa4a4;
    overflow: hidden;
}

.navLink1 {
    float: left;
    color: #3b3b3b;
    text-align: center;
    padding: 12px 16px;
    font-size: 18px;
}

.navLink2 {
    float: right;
    color: #f3f3f3;
    background-color: #113319;
    /* border-radius: 8px; */
    text-align: center;
    margin: 4px;
    padding: 6px 24px;
    font-size: 18px;
    clip-path: polygon(
        0 10%,
        5% 0,
        95% 0,
        100% 10%,
        100% 90%,
        95% 100%,
        5% 100%,
        0% 90%,
        0% 10%
    )

}
